 <h2 class="page-header">Submit Request</h2>

 <div>
  <form method="POST" action = "/new-request">
  <div class="form-group">
    <label>Name:</label>
    <input type="text" name="name" class="form-control"><br>
    <label>Organisation: </label>
    <input type="text" name="org" class="form-control"><br>
    <label> Description: </label>
    <textarea class="form-control" rows="5" name="eventDetails" class="form-control"></textarea><br>
    <label> Event Date: </label>
    <input type ="date" name ="date" class="form-control"><br>
    <button type="submit" id="submitButton" class="btn btn-default"><b>Submit</b></button>
    </div>
  </form>
 </div>

<hr />
<section class="get">
    <h3>View Request</h3>
<button data-toggle="collapse" data-target="#viewRequest" class="btn btn-default"><b>LOAD REQUEST</b></button><br/>

<div id="viewRequest" class="collapse">
    <table class = "table table-hover">
      <tr>
        <th>Name</th>
        <th>Organisation</th> 
        <th>Description</th>
        <th>Event Date</th>
      </tr>

      {{# each items }}
      <tr>
        <td>{{name}}</td>
        <td>{{org}}</td>
        <td>{{content}}</td>
        <td>{{date}}</td>
      </tr>
      {{/each}}
    </table>   
</div>
</section>